[checklog-odoo]
ignore=
    WARNING.* 0 failed, 0 error\(s\).*
    # from anyio>=4.15 see https://github.com/Kludex/starlette/issues/3497
    WARNING.* DeprecationWarning: The anyio.abc.BlockingPortal alias is deprecated.*
