cerberus
pyquerystring
parse-accept-language
jsondiff
graphene
graphql-server-core
marshmallow
#marshmallow-objects>=1.0.21
-e git+https://github.com/lmignon/marshmallow-objects.git@fix-load-nested-many#egg=marshmallow-objects
