#swagger-ui {
    overflow: scroll;
}

.swg-odoo-web-btn {
    font-family: fontAwesome !important;
    display: block;
    float: left;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.col {
    width: unset;
}
